.provenexpert-error, .provenexpert-hint {
	p {
		background-color: #ffa800;
		border: 1px solid #ffa800;
		border-radius: 4px;
		color: #fff;
		display: inline-block;
		padding: 4px 12px;
		margin-right: 8px;
	}
	.dashicons { vertical-align: middle; }
}
